.button{
    width: 22.5rem;
    height: 40px;
    background: rgb(177, 172, 172) ;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
     margin-top: 20px;
     margin-bottom: 10px;
 
}
#center{
    background-size: cover;
    background-position: center;
    display: grid;
    /* height: 408px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
center{
    cursor: pointer;
}


.input {
    background-color: transparent;
    width: 22.5rem;
    height: 90%;
    /* border: none; */
    /* outline: none; */
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    /* color: rgb(233, 231, 231); */
    padding: 20px 15px 10px 10px;
    margin-top: -1.5rem;
    margin-bottom: 7px;
}
.ds{
    font-size: 1.5rem;
    margin-top: 5px;
}

.form {
    /* background-color:azure; */
    border: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, );
    /* position: relative; */
    overflow: hidden;
    width: 400px;
    padding: 19px 20px;
    /* max-width: 100%;
    min-height: 55%; */
    /* text-align: center; */
    /* padding-bottom: 20px; */
    /* color: rgb(233, 231, 231); */
    /* display: flex; 
     justify-content: center;
     align-items: center; */
    
}


.home{
    border: 2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, );
    /* position: relative; */
    overflow: hidden;
    width: 35rem;
    padding: 19px 20px;
}

.name{
    font-size: 1.5rem;
    margin-top: -8px;
}
#input{
    width: 22.5rem;
   height: 2rem;
   background-color: transparent;

    border-radius: 5px;
   
    

}
#image{
    margin-top: 10px;
    border: 2px solid black;
}
#po{
    margin-top: 25px;
    width: 700px;
}

#icons{
    font-size: 30px;
    /* color: white; */
    margin-top: -15px;
    margin-left: 30px;
    display: grid;
    justify-content:center ;
    align-items: center;
}


.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content:center ;
    align-items: center;
    color: black;
    border-color: blue;
    text-decoration: none;
    

}

.inputotp{
    
    /* display: flex; */
    text-align: center;
    justify-content: space-around;
    margin-left: 2.7rem;
    /* margin-top: 10px; */
    padding:center;
    align-items: center;
    /* cursor: pointer; */
    width: 2rem;
height: 3rem;
background-color: transparent;


border: 2px solid black;
border-radius: 8px;
/* font-size: 15px; */
/* color: rgb(233, 231, 231); */

margin-top: -1.5rem;
margin-bottom: 7px;
    
}

.author{
    color: black;
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-color: blue;
    
}

#table{
    border: 1px solid black;
    width: 80rem;
    text-align: center;
    margin-top: 2rem;
    
}

.homeuser{
  margin-top: 1rem;
  margin-left: 10rem;

  display: flow-root ;

  /* flex-direction: column; */
  justify-content: center;
  align-items: center;    

  
  
}

.name{
    color: black;
    background-color: aqua;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-color:black;
    font-size: 5rem;
   

}
.blogs{
    display: flex;
    justify-content: center;
    
}

.head{
    background-color: cadetblue;
}